{% import '/dialects/trino.sql.jinja2' as lib with context -%}
WITH column_samples AS (
    SELECT
        unlimited_samples.sample_value AS sample_value,
        unlimited_samples.sample_count AS sample_count,
        ROW_NUMBER() OVER (ORDER BY unlimited_samples.sample_count DESC) AS sample_index
    FROM
    (
        SELECT
            {{ lib.render_target_column('analyzed_table') }} AS sample_value,
            COUNT(*) AS sample_count
        FROM
            {{ lib.render_target_table() }} AS analyzed_table
        {{- lib.render_where_clause(table_alias_prefix = 'analyzed_table', indentation = '        ') }}
        GROUP BY 1
    ) AS unlimited_samples
)
SELECT
   sample_table.sample_value AS actual_value,
   sample_table.sample_count AS sample_count,
   sample_table.sample_index AS sample_index
FROM column_samples AS sample_table
WHERE sample_table.sample_index <= {{ parameters.limit }}
ORDER BY sample_table.sample_index DESC