{% import '/dialects/teradata.sql.jinja2' as lib with context -%}
{%- call lib.render_error_sampler() -%}
    REGEXP_SUBSTR({{ lib.render_target_column('analyzed_table') }}, {{ lib.render_regex(parameters.regex) }}) IS NULL
{%- endcall -%}