.connection-tree .rc-tree-title {
    margin-left: 8px;
    color: black;
}

.connection-tree .rc-tree-iconEle {
    color: black;
}

.connection-tree .rc-tree-switcher {
    color: #1e1e1e;
    background-image: none !important;
    padding-top: 1px;
}
