userhome
examples
docs
site
.git*
.run
.idea
.vscode
dqoai/target
dqops/target
distribution/target
distribution/python/dist
distribution/python/venv
distribution/python/dqops.egg-info
lib/target
home/venv
dqoai/src/main/frontend/build
dqoai/src/main/frontend/node
dqoai/src/main/frontend/node_modules
dqops/src/main/frontend/build
dqops/src/main/frontend/node
dqops/src/main/frontend/node_modules
