{% import '/dialects/bigquery.sql.jinja2' as lib with context -%}
SELECT
    0.0 AS actual_value
    {{- lib.render_time_dimension_projection('tab_scan') }}
FROM
    (
        SELECT
            *
            {{- lib.render_time_dimension_projection('analyzed_table') }}
        FROM {{ lib.render_target_table() }} AS analyzed_table
        {{ lib.render_where_clause() }}
    ) AS tab_scan
GROUP BY time_period
ORDER BY time_period