{% import '/dialects/sqlserver.sql.jinja2' as lib with context -%}
SELECT
    0.0 AS actual_value
FROM
    (
        SELECT
            *
        FROM {{ lib.render_target_table() }} AS analyzed_table
        {{ lib.render_where_clause() }}
    ) AS tab_scan
