{% set macro_database_name = connection.mysql.database -%}
{% set macro_schema_name = target_table.schema_name -%}
{% set macro_table_name = target_table.table_name -%}
{% set engine_type = connection.mysql.mysql_engine_type -%}
{% set time_series = effective_time_series | default(none, true) -%}
{% set time_window_filter = effective_time_window_filter | default(none, true) -%}
{% set timestamp_column_data_type = table.columns[time_series.timestamp_column].type_snapshot.column_type | upper | default(none, true) -%}
{% set data_groupings = effective_data_groupings | default(none, true) -%}
{% set target_column_data_type = table.columns[column_name].type_snapshot.column_type | default(none, true) -%}
{% set calculated_column_expression = table.columns[column_name].sql_expression | default('', true) -%}

{% macro quote_identifier(name) -%}
    {{ dialect_settings.quote_begin }}{{ name | replace(dialect_settings.quote_end, dialect_settings.quote_escape) }}{{ dialect_settings.quote_end }}
{%- endmacro %}

{% macro make_text_constant(string) -%}
    {{ '\'' }}{{ string | replace('\'', '\'\'') }}{{ '\'' }}
{%- endmacro %}

{% macro eol() -%}
{{ '' }}
{% endmacro %}

{%- macro render_target_table() -%}
    {{ quote_identifier(macro_table_name) }}
{%- endmacro %}

{%- macro render_referenced_table(foreign_table) -%}
{%- if foreign_table.find(".") < 0 -%}
   {{ quote_identifier(macro_schema_name) }}.{{- quote_identifier(foreign_table) -}}
{%- else -%}
   {{ foreign_table }}
{%- endif -%}
{%- endmacro -%}

{%- macro render_target_column(table_alias_prefix = 'analyzed_table') -%}
    {%- if calculated_column_expression != '' -%}
        ({{ calculated_column_expression | replace('{column}', table_alias_prefix ~ '.' ~ quote_identifier(column_name)) | replace('{table}', render_target_table()) | replace('{alias}', table_alias_prefix) }})
    {%- else -%}
        {{ table_alias_prefix }}.{{ quote_identifier(column_name) }}
    {%- endif -%}
{%- endmacro %}

{%- macro render_column(column_name, table_alias_prefix = 'analyzed_table') -%}
    {%- if table.columns[column_name].sql_expression | default('', true) != '' -%}
        ({{ table.columns[column_name].sql_expression | replace('{table}', render_target_table()) | replace('{alias}', table_alias_prefix) }})
    {%- else -%}
        {%- if table_alias_prefix != '' -%}
            {{ table_alias_prefix }}.{{ quote_identifier(column_name) }}
        {%- else -%}
            {{ quote_identifier(column_name) }}
        {%- endif -%}
    {%- endif -%}
{%- endmacro %}

{%- macro is_local_date(data_type) -%}
    {#-
    Check if a given parameter is a date.

    :param param: The parameter to check
    :type param: str
    :return: True if the parameter is a valid date, False otherwise
    :rtype: bool
    -#}
    {%- if data_type == 'DATE' -%}
        {{ 'true' }}
    {%- else -%}
        {{ 'false' }}
    {%- endif -%}
{% endmacro %}

{% macro is_local_time(data_type) -%}
  {#-
  Check if a given parameter is a local-time.

  :param param: The parameter to check
  :type param: str
  :return: True if the parameter is a valid local-time, False otherwise
  :rtype: bool
  -#}
   {% if data_type == 'TIME' -%}
       {{- 'true' -}}
   {%- else -%}
       {{- 'false' -}}
   {%- endif -%}
{% endmacro %}

{% macro is_local_date_time(data_type) -%}
  {#-
  Check if a given parameter is a local-date-time.

  :param param: The parameter to check
  :type param: str
  :return: True if the parameter is a valid local-date-time, False otherwise
  :rtype: bool
  -#}
   {% if data_type == 'DATETIME' -%}
       {{- 'true' -}}
   {%- else -%}
       {{- 'false' -}}
   {%- endif -%}
{% endmacro %}

{% macro is_instant(data_type) -%}
  {#-
  Check if a given parameter is a instant.

  :param param: The parameter to check
  :type param: str
  :return: True if the parameter is a valid instant, False otherwise
  :rtype: bool
  -#}
   {% if data_type == 'TIMESTAMP' -%}
       {{- 'true' -}}
   {%- else -%}
       {{- 'false' -}}
   {%- endif -%}
{% endmacro %}

{% macro date_trunc(value, part='day', datatype=none) %}
    {%- if part == 'year' -%}
        DATE_FORMAT({{value}}, '%Y-01-01 00:00:00')
    {%- elif part == 'quarter' -%}
        CONCAT(YEAR({{value}}), '-',
            CASE QUARTER({{value}})
                WHEN 1 THEN '01-01 00:00:00'
                WHEN 2 THEN '04-01 00:00:00'
                WHEN 3 THEN '07-01 00:00:00'
                WHEN 4 THEN '10-01 00:00:00'
            END)
    {%- elif part == 'month' -%}
        DATE_FORMAT({{value}}, '%Y-%m-01 00:00:00')
    {%- elif part == 'week' -%}
        DATE_SUB({{value}}, INTERVAL WEEKDAY({{value}}) DAY)
    {%- elif part == 'day' -%}
        DATE_FORMAT({{value}}, '%Y-%m-%d 00:00:00')
    {%- elif part == 'hour' -%}
        DATE_FORMAT({{value}}, '%Y-%m-%d %H:00:00')
    {%- elif part == 'minute' -%}
        DATE_FORMAT({{value}}, '%Y-%m-%d %H:%i:00')
    {%- elif part == 'second' -%}
        DATE_FORMAT({{value}}, '%Y-%m-%d %H:%i:%s')
    {%- else -%}
        {{value}}
    {%- endif -%}
{% endmacro %}


{% macro date_trunc_utc(value, part='day', datatype=none) %}
    {%- if part == 'year' -%}
        FROM_UNIXTIME(UNIX_TIMESTAMP(DATE_FORMAT({{value}}, '%Y-01-01 00:00:00')))
    {%- elif part == 'quarter' -%}
        FROM_UNIXTIME(UNIX_TIMESTAMP(DATE_ADD(DATE_FORMAT({{value}}, '%Y-%m-01 00:00:00'), INTERVAL (QUARTER(DATE({{value}}))-1) QUARTER)))
    {%- elif part == 'month' -%}
        FROM_UNIXTIME(UNIX_TIMESTAMP(DATE_FORMAT({{value}}, '%Y-%m-01 00:00:00')))
    {%- elif part == 'week' -%}
        FROM_UNIXTIME(UNIX_TIMESTAMP(DATE_FORMAT(DATE_SUB({{value}}, INTERVAL WEEKDAY({{value}}) DAY), '%Y-%m-%d 00:00:00')))
    {%- elif part == 'day' -%}
        {%- if datatype | upper == 'DATE' -%}
            FROM_UNIXTIME(UNIX_TIMESTAMP({{value}}))
        {%- else -%}
            FROM_UNIXTIME(UNIX_TIMESTAMP(DATE_FORMAT({{value}}, '%Y-%m-%d 00:00:00')))
        {%- endif -%}
    {%- elif part == 'hour' -%}
        FROM_UNIXTIME(UNIX_TIMESTAMP(DATE_FORMAT({{value}}, '%Y-%m-%d %H:00:00')))
    {%- elif part == 'millisecond' -%}
        FROM_UNIXTIME(UNIX_TIMESTAMP({{value}}))
    {%- else -%}
        FROM_UNIXTIME(UNIX_TIMESTAMP({{value}}))
    {%- endif -%}
{% endmacro %}


{% macro render_time_dimension_expression(table_alias_prefix = 'analyzed_table') %}
    {%- if time_series is not none-%}
        {%- if time_series.mode == 'current_time' -%}
            {%- if time_series.time_gradient is defined and time_series.time_gradient != 'millisecond' -%}
                {{ date_trunc('LOCALTIMESTAMP', time_series.time_gradient, 'TIMESTAMP') }}
            {%- else -%}
                LOCALTIMESTAMP
            {%- endif -%}
        {%- elif time_series.mode == 'timestamp_column' -%}
            {{ date_trunc(render_column(time_series.timestamp_column, table_alias_prefix), time_series.time_gradient, timestamp_column_data_type) }}
        {%- else -%}
            <INVALID TIME SERIES MODE: {{time_series.mode}}/>
        {%- endif -%}
    {%- endif -%}
{% endmacro %}

{% macro render_time_dimension_expression_utc(table_alias_prefix = 'analyzed_table') %}
    {%- if time_series is not none-%}
        {%- if time_series.mode == 'current_time' -%}
            {%- if time_series.time_gradient is defined and time_series.time_gradient != 'millisecond' -%}
                {{ date_trunc_utc('LOCALTIMESTAMP', time_series.time_gradient, 'TIMESTAMP') }}
            {%- else -%}
                LOCALTIMESTAMP
            {%- endif -%}
        {%- elif time_series.mode == 'timestamp_column' -%}
            {{ date_trunc_utc(render_column(time_series.timestamp_column, table_alias_prefix), time_series.time_gradient, timestamp_column_data_type) }}
        {%- else -%}
            <INVALID TIME SERIES MODE: {{time_series.mode}}/>
        {%- endif -%}
    {%- endif -%}
{% endmacro %}

{% macro render_data_grouping_projections(table_alias_prefix = 'analyzed_table', indentation = '    ') %}
    {%- if data_groupings is not none and (data_groupings | length()) > 0 -%}
        {%- for attribute in data_groupings -%}
            {{ ',' }}
            {%- with data_grouping_level = data_groupings[attribute] -%}
                {%- if data_grouping_level.source == 'tag' -%}
                    {{ eol() }}{{ indentation }}{{ make_text_constant(data_grouping_level.tag) }}
                {%- elif data_grouping_level.source == 'column_value' -%}
                    {{ eol() }}{{ indentation }}{{ render_column(data_grouping_level.column, table_alias_prefix) }}
                {%- endif -%}
            {%- endwith %} AS grouping_{{ attribute }}
        {%- endfor -%}
    {%- endif -%}
{% endmacro %}

{% macro render_time_dimension_projection(table_alias_prefix = 'analyzed_table', indentation = '    ') %}
    {%- if time_series is not none -%}
        {{ ',' -}}{{- eol() -}}
        {{ indentation }}{{ render_time_dimension_expression(table_alias_prefix) }} AS time_period,{{ eol() -}}
        {{ indentation }}{{ render_time_dimension_expression_utc(table_alias_prefix) }} AS time_period_utc
    {%- endif -%}
{% endmacro %}

{% macro render_end_date_filter(prefix_to_render = none, table_alias_prefix = 'analyzed_table') %}
    {%- if time_window_filter is not none -%}
        {%- if time_window_filter.to_date_time_offset | default(none, true) is not none -%}
            {{ prefix_to_render -}}{{ render_column(time_series.timestamp_column, table_alias_prefix) }} < {{ make_text_constant(time_window_filter.to_date_time_offset) -}}
        {%- elif time_window_filter.to_date_time | default(none, true) is not none -%}
            {{ prefix_to_render -}}{{ render_column(time_series.timestamp_column, table_alias_prefix) }} < {{ make_text_constant(time_window_filter.to_date_time) -}}
        {%- elif time_window_filter.to_date | default(none, true) is not none -%}
            {{ prefix_to_render -}}{{ render_column(time_series.timestamp_column, table_alias_prefix) }} < {{ make_text_constant(time_window_filter.to_date) -}}
        {%- elif time_window_filter.daily_partitioning_include_today is false -%}
            {{ prefix_to_render -}}
            {%- if is_instant(timestamp_column_data_type) == 'true' -%}
                {{ render_column(time_series.timestamp_column, table_alias_prefix) -}}{{- ' < ' -}}
                {{ date_format('LOCALTIMESTAMP()', '%Y-%m-%d') }}
            {%- elif is_local_date(timestamp_column_data_type) == 'true' -%}
                {{ render_column(time_series.timestamp_column, table_alias_prefix) -}}{{- ' < ' -}}
                CAST(NOW() AS DATE)
            {%- elif is_local_date_time(timestamp_column_data_type) == 'true' -%}
                {{ render_column(time_series.timestamp_column, table_alias_prefix) -}}{{- ' < ' -}}
                CAST(NOW() AS DATE)
            {%- else -%}
                CAST({{ render_column(time_series.timestamp_column, table_alias_prefix) }} AS DATE){{- ' < ' -}}
                CAST(NOW() AS DATE)
            {%- endif -%}
        {%- elif time_window_filter.monthly_partitioning_include_current_month is false -%}
            {{ prefix_to_render -}}
            {%- if is_instant(timestamp_column_data_type) == 'true' -%}
                {{ render_column(time_series.timestamp_column, table_alias_prefix) -}}{{- ' < ' -}}
                DATE_FORMAT({{ date_format('LOCALTIMESTAMP()', '%Y-%m-%d') }}, '%Y-%m-01')
            {%- elif is_local_date(timestamp_column_data_type) == 'true' -%}
                {{ render_column(time_series.timestamp_column, table_alias_prefix) -}}{{- ' < ' -}}
                CAST(DATE_FORMAT(NOW(), '%Y-%m-01') AS DATE)
            {%- elif is_local_date_time(timestamp_column_data_type) == 'true' -%}
                {{ render_column(time_series.timestamp_column, table_alias_prefix) -}}{{- ' < ' -}}
                CAST(DATE_FORMAT(NOW(), '%Y-%m-01 %H:%i:%s') AS DATE)
            {%- else -%}
                CAST({{ render_column(time_series.timestamp_column, table_alias_prefix) }} AS DATE){{- ' < ' -}}
                CAST(DATE_FORMAT(NOW(), '%Y-%m-01') AS DATE)
            {%- endif -%}
        {%- endif -%}
    {%- endif -%}
{% endmacro %}


{% macro render_date_range_filters(prefix_to_render = none, table_alias_prefix = 'analyzed_table', indentation = '      ') %}
    {%- if time_window_filter is not none -%}
        {%- if (time_series.timestamp_column | default(none, true)) is not none -%}
            {%- if time_window_filter.from_date_time_offset | default(none, true) is not none -%}
                {{ prefix_to_render -}}{{ render_column(time_series.timestamp_column, table_alias_prefix) }} >= {{ make_text_constant(time_window_filter.from_date_time_offset) -}}
                {{- render_end_date_filter(eol() ~ indentation ~ 'AND ', table_alias_prefix) -}}
            {%- elif time_window_filter.from_date_time | default(none, true) is not none -%}
                {{ prefix_to_render -}}{{ render_column(time_series.timestamp_column, table_alias_prefix) }} >= {{ make_text_constant(time_window_filter.from_date_time) -}}
                {{- render_end_date_filter(eol() ~ indentation ~ 'AND ', table_alias_prefix) -}}
            {%- elif time_window_filter.from_date | default(none, true) is not none -%}
                {{ prefix_to_render -}}{{ render_column(time_series.timestamp_column, table_alias_prefix) }} >= {{ make_text_constant(time_window_filter.from_date) -}}
                {{- render_end_date_filter(eol() ~ indentation ~ 'AND ', table_alias_prefix) -}}
            {%- elif time_window_filter.daily_partitioning_recent_days | default(none, true) is not none -%}
                {{ prefix_to_render -}}
                {%- if is_instant(timestamp_column_data_type) == 'true' -%}
                     {{ render_column(time_series.timestamp_column, table_alias_prefix) -}}{{- ' >= ' -}}
                     DATE_SUB(NOW(), INTERVAL {{time_window_filter.daily_partitioning_recent_days}} DAY)
                {%- elif is_local_date(timestamp_column_data_type) == 'true' -%}
                     {{ render_column(time_series.timestamp_column, table_alias_prefix) -}}{{- ' >= ' -}}
                     DATE_SUB(NOW(), INTERVAL {{time_window_filter.daily_partitioning_recent_days}} DAY)
                {%- elif is_local_date_time(timestamp_column_data_type) == 'true' -%}
                     {{ render_column(time_series.timestamp_column, table_alias_prefix) -}}{{- ' >= ' -}}
                     TIMESTAMP(DATE_SUB(NOW(), INTERVAL {{time_window_filter.daily_partitioning_recent_days}} DAY))
                {%- else -%}
                     CAST({{ render_column(time_series.timestamp_column, table_alias_prefix) }} AS DATE){{- ' >= ' -}}
                     DATE_SUB(NOW(), INTERVAL {{time_window_filter.daily_partitioning_recent_days}} DAY)
                {%- endif -%}
                {{- render_end_date_filter(eol() ~ indentation ~ 'AND ', table_alias_prefix) -}}
            {%- elif time_window_filter.monthly_partitioning_recent_months | default(none, true) is not none -%}
                {{ prefix_to_render -}}
                {%- if is_instant(timestamp_column_data_type) == 'true' -%}
                     {{ render_column(time_series.timestamp_column, table_alias_prefix) -}}{{- ' >= ' -}}
                     CAST({{ date_trunc('LOCALTIMESTAMP', 'month', timestamp_column_data_type) }} - interval '{{time_window_filter.monthly_partitioning_recent_months}} months' AS DATE)
                {%- elif is_local_date(timestamp_column_data_type) == 'true' -%}
                     {{ render_column(time_series.timestamp_column, table_alias_prefix) -}}{{- ' >= ' -}}
                     CAST({{ date_trunc('LOCALTIMESTAMP', 'month', timestamp_column_data_type) }} - interval '{{time_window_filter.monthly_partitioning_recent_months}} months' AS DATE)
                {%- elif is_local_date_time(timestamp_column_data_type) == 'true' -%}
                     {{ render_column(time_series.timestamp_column, table_alias_prefix) -}}{{- ' >= ' -}}
                     CAST({{ date_trunc('LOCALTIMESTAMP', 'month', timestamp_column_data_type) }} - interval '{{time_window_filter.monthly_partitioning_recent_months}} months' AS DATE)
                {%- else -%}
                     CAST({{ render_column(time_series.timestamp_column, table_alias_prefix) }} AS DATE){{- ' >= ' -}}
                     CAST({{ date_trunc('LOCALTIMESTAMP', 'month', timestamp_column_data_type) }} - interval '{{time_window_filter.monthly_partitioning_recent_months}} months' AS DATE)
                {%- endif -%}
                {{- render_end_date_filter(eol() ~ indentation ~ 'AND ', table_alias_prefix) -}}
            {%- else -%}
                {{- render_end_date_filter(prefix_to_render, table_alias_prefix) -}}
            {%- endif -%}
        {%- endif -%}
    {%- endif -%}
{% endmacro %}

{% macro render_date_range_filters(prefix_to_render = none, table_alias_prefix = 'analyzed_table', indentation = '      ') %}
    {%- if time_window_filter is not none -%}
        {%- if (time_series.timestamp_column | default(none, true)) is not none -%}
            {%- if time_window_filter.from_date_time_offset | default(none, true) is not none -%}
                 {{ prefix_to_render -}}{{ render_column(time_series.timestamp_column, table_alias_prefix) }} >= {{ make_text_constant(time_window_filter.from_date_time_offset) -}}
                 {{- render_end_date_filter(eol() ~ indentation ~ 'AND ', table_alias_prefix) -}}
            {%- elif time_window_filter.from_date_time | default(none, true) is not none -%}
                {{ prefix_to_render -}}{{render_column(time_series.timestamp_column, table_alias_prefix) }} >= {{ make_text_constant(time_window_filter.from_date_time) -}}
                {{- render_end_date_filter(eol() ~ indentation ~ 'AND ', table_alias_prefix) -}}
            {%- elif time_window_filter.from_date | default(none, true) is not none -%}
                {{ prefix_to_render -}}{{ render_column(time_series.timestamp_column, table_alias_prefix) }} >= {{ make_text_constant(time_window_filter.from_date) -}}
                {{- render_end_date_filter(eol() ~ indentation ~ 'AND ', table_alias_prefix) -}}
            {%- elif time_window_filter.daily_partitioning_recent_days | default(none, true) is not none -%}
                {{ prefix_to_render -}}
                {%- if is_instant(timestamp_column_data_type) == 'true' -%}
                     {{ render_column(time_series.timestamp_column, table_alias_prefix) -}}{{- ' >= ' -}}
                     CAST(CAST(NOW() AS DATE) - INTERVAL {{time_window_filter.daily_partitioning_recent_days}} DAY AS DATE)
                {%- elif is_local_date(timestamp_column_data_type) == 'true' -%}
                     {{ render_column(time_series.timestamp_column, table_alias_prefix) -}}{{- ' >= ' -}}
                     NOW() - INTERVAL {{time_window_filter.daily_partitioning_recent_days}} DAY
                {%- elif is_local_date_time(timestamp_column_data_type) == 'true' -%}
                     {{ render_column(time_series.timestamp_column, table_alias_prefix) -}}{{- ' >= ' -}}
                     CAST(CAST(NOW() AS DATE) - INTERVAL {{time_window_filter.daily_partitioning_recent_days}} DAY AS DATE)
                {%- else -%}
                     CAST({{ render_column(time_series.timestamp_column, table_alias_prefix) }} AS DATE){{- ' >= ' -}}
                     NOW() - INTERVAL {{time_window_filter.daily_partitioning_recent_days}} DAY
                {%- endif -%}
                {{- render_end_date_filter(eol() ~ indentation ~ 'AND ', table_alias_prefix) -}}
            {%- elif time_window_filter.monthly_partitioning_recent_months | default(none, true) is not none -%}
                {{ prefix_to_render -}}
                {%- if is_instant(timestamp_column_data_type) == 'true' -%}
                        {{ render_column(time_series.timestamp_column, table_alias_prefix) -}}{{- ' >= ' -}}
                             DATE_SUB(DATE_FORMAT(NOW(), '%Y-%m-01'), INTERVAL {{ time_window_filter.monthly_partitioning_recent_months }} MONTH)
                         {%- elif is_local_date(timestamp_column_data_type) == 'true' -%}
                             {{ render_column(time_series.timestamp_column, table_alias_prefix) -}}{{- ' >= ' -}}
                             DATE_SUB(DATE_FORMAT(NOW(), '%Y-%m-01'), INTERVAL {{ time_window_filter.monthly_partitioning_recent_months }} MONTH)
                         {%- elif is_local_date_time(timestamp_column_data_type) == 'true' -%}
                             {{ render_column(time_series.timestamp_column, table_alias_prefix) -}}{{- ' >= ' -}}
                             DATE_SUB(DATE_FORMAT(NOW(), '%Y-%m-01'), INTERVAL {{ time_window_filter.monthly_partitioning_recent_months }} MONTH)
                         {%- else -%}
                             CAST({{ render_column(time_series.timestamp_column, table_alias_prefix) }} AS DATE){{- ' >= ' -}}
                             DATE_SUB(DATE_FORMAT(NOW(), '%Y-%m-01'), INTERVAL {{ time_window_filter.monthly_partitioning_recent_months }} MONTH)
                {%- endif -%}
                {{- render_end_date_filter(eol() ~ indentation ~ 'AND ', table_alias_prefix) -}}
            {%- elif time_window_filter.monthly_partitioning_recent_months | default(none, true) is not none -%}
                {{ prefix_to_render -}}
                {%- if is_instant(timestamp_column_data_type) == 'true' -%}
                    {{ render_column(time_series.timestamp_column, table_alias_prefix) -}}{{- ' >= ' -}}
                    CAST(DATE_SUB({{ date_trunc('LOCALTIMESTAMP', 'month', timestamp_column_data_type) }}, INTERVAL {{time_window_filter.monthly_partitioning_recent_months}} MONTH) AS DATE)
                {%- elif is_local_date(timestamp_column_data_type) == 'true' -%}
                    {{ render_column(time_series.timestamp_column, table_alias_prefix) -}}{{- ' >= ' -}}
                    DATE_SUB(DATE_FORMAT({{ date_trunc('LOCALTIMESTAMP', 'month', timestamp_column_data_type) }},'%Y-%m-01') INTERVAL {{time_window_filter.monthly_partitioning_recent_months}} MONTH) AS DATE)
                {%- elif is_local_date_time(timestamp_column_data_type) == 'true' -%}
                    {{ render_column(time_series.timestamp_column, table_alias_prefix) -}}{{- ' >= ' -}}
                    CAST(DATE_SUB({{ date_trunc('LOCALTIMESTAMP', 'month', timestamp_column_data_type) }}, INTERVAL {{time_window_filter.monthly_partitioning_recent_months}} MONTH) AS DATE)
                    CAST(DATE_SUB(DATE_FORMAT(NOW(), '%Y-%m-01'), INTERVAL {{ time_window_filter.monthly_partitioning_recent_months }} MONTH) AS DATE)

                {%- else -%}
                    CAST({{ render_column(time_series.timestamp_column, table_alias_prefix) }} AS DATE){{- ' >= ' -}}
                    CAST(DATE_SUB({{ date_trunc('LOCALTIMESTAMP', 'month', timestamp_column_data_type) }}, INTERVAL {{time_window_filter.monthly_partitioning_recent_months}} MONTH) AS DATE)
                {%- endif -%}
                {{- render_end_date_filter(eol() ~ indentation ~ 'AND ', table_alias_prefix) -}}
            {%- else -%}
                {{- render_end_date_filter(prefix_to_render, table_alias_prefix) -}}
            {%- endif -%}
        {%- endif -%}
    {%- endif -%}
{% endmacro %}

{% macro render_where_clause(extra_filter = none, table_alias_prefix = 'analyzed_table', indentation = '') %}
    {%- with filters = ([table.filter|default(none, true), parameters.filter|default(none, true), extra_filter|default(none, true)] | reject('none') | list) + (additional_filters | list) -%}
        {%- if (filters | length) > 0 %}
{{ indentation ~ 'WHERE ' -}}
            {%- for filter in filters -%}
                {%- if not loop.first -%}
                    {{ eol() ~ indentation ~ '      AND ' }}
                {%- endif -%}
                {{ "(" -}} {{ filter | replace('{column}', render_target_column('analyzed_table')) | replace('{table}', render_target_table()) | replace('{alias}', table_alias_prefix) }} {{- ")" -}}
            {%- endfor -%}
            {{ render_date_range_filters(eol() ~ indentation ~ '      AND ', table_alias_prefix, indentation ~ '      ') }}
        {%- else -%}
            {{ render_date_range_filters(eol() ~ indentation ~ 'WHERE ', table_alias_prefix, indentation ~ '      ') }}
        {%- endif -%}
    {%- endwith -%}
{% endmacro %}

{% macro render_grouping_column_names() %}
    {%- if (data_groupings is not none and (data_groupings | length()) > 0) -%}
        {%- for attribute in data_groupings -%}
            {%- if not loop.first -%}
                {{ ', ' }}
            {%- endif -%}
                grouping_{{ attribute }}
        {%- endfor -%}
    {%- endif -%}
    {%- if time_series is not none -%}
        {%- if (data_groupings is not none and (data_groupings | length()) > 0) -%}
            {{ ', ' }}
        {%- endif -%}
            {{ 'time_period' }}, {{ 'time_period_utc' }}
    {%- endif -%}
{% endmacro %}

{% macro render_group_by(indentation = '') %}
    {%- if (data_groupings is not none and (data_groupings | length()) > 0) or time_series is not none %}
{{ indentation }}GROUP BY {{ render_grouping_column_names() }}
    {%- endif -%}
{% endmacro %}

{% macro render_order_by(indentation = '') %}
    {%- if (data_groupings is not none and (data_groupings | length()) > 0) or time_series is not none %}
{{ indentation }}ORDER BY {{ render_grouping_column_names() }}
    {%- endif -%}
{% endmacro %}

{% macro render_regex(column, regex_pattern, should_make_text_constant = true) %}
    {%- if engine_type == 'singlestoredb' %}{{ column }} RLIKE {{ make_text_constant(regex_pattern) if should_make_text_constant else regex_pattern }}
    {%- else -%}REGEXP_LIKE({{ column }}, {{ make_text_constant(regex_pattern) if should_make_text_constant else regex_pattern }})
    {%- endif -%}
{% endmacro %}

{%- macro make_text_constant(string) -%}
    {{ '\'' }}{{ string | replace('\'', '\'\'') }}{{ '\'' }}
{%- endmacro %}

{% macro render_date_format_regex(date_format) %}
    {%- if date_format == 'DD/MM/YYYY'-%}
        '^(0[1-9]|[1][0-9]|[2][0-9]|3[01])[/](0[1-9]|1[0-2])[/]([0-9]{4})$'
    {%- elif date_format == 'DD-MM-YYYY' -%}
        '^(0[1-9]|[1][0-9]|[2][0-9]|3[01])[-](0[1-9]|1[0-2])[-]([0-9]{4})$'
    {%- elif date_format == 'DD.MM.YYYY' -%}
        '^(0[1-9]|[1][0-9]|[2][0-9]|3[01])[.](0[1-9]|1[0-2])[.]([0-9]{4})$'
    {%- elif date_format == 'YYYY-MM-DD' -%}
        '^([0-9]{4})[-](0[1-9]|1[0-2])[-](0[1-9]|[1][0-9]|[2][0-9]|3[01])$'
    {%- elif date_format == 'MM/DD/YYYY'-%}
        '^(0[1-9]|1[0-2])[/](0[1-9]|[1][0-9]|[2][0-9]|3[01])[/]([0-9]{4})$'
    {%- endif -%}
{% endmacro -%}

{% macro render_date_format(date_format) %}
    {%- if date_format == 'YYYY-MM-DD'-%}
        '%Y-%m-%d'
    {%- elif date_format == 'MM/DD/YYYY' -%}
        '%m/%d/%Y'
    {%- elif date_format == 'DD/MM/YYYY' -%}
        '%d/%m/%Y'
    {%- elif date_format == 'YYYY/MM/DD'-%}
        '%Y/%m/%d'
    {%- elif date_format == 'Month D, YYYY'-%}
        '%b %d, %Y'
    {%- endif -%}
{% endmacro -%}

{% macro render_date_format_cast() -%}
    {%- if is_local_date(table.columns[column_name].type_snapshot.column_type) == 'true' -%}
    {{ render_target_column('analyzed_table') }}
    {%- elif is_local_time(table.columns[column_name].type_snapshot.column_type) == 'true' or is_instant(table.columns[column_name].type_snapshot.column_type) == 'true' -%}
    CAST({{ render_target_column('analyzed_table') }} AS DATE)
    {%- else -%}
    CAST({{ render_target_column('analyzed_table') }} AS DATE)
    {%- endif -%}
{%- endmacro -%}

{% macro render_error_sampler(wrap_condition = '', render_null_check = true, override_samples_limit = none) %}
    {%- if (data_groupings is not none and (data_groupings | length()) > 0)  -%}
WITH error_samples AS (
    SELECT
        {{ render_target_column('analyzed_table') }} AS sample_value
        {{- render_data_grouping_projections(table_alias_prefix = 'analyzed_table', indentation = '        ') }}
        {%- if (error_sampling.id_columns is not none and (error_sampling.id_columns | length()) > 0) -%}
            {%- for id_column in error_sampling.id_columns -%}
                {{ ',' }}
        {{ render_column(id_column, 'analyzed_table') }} AS row_id_{{ loop.index }}
        {%- endfor -%}
    {%- endif -%},
        ROW_NUMBER() OVER (
            PARTITION BY
                {%- for attribute in data_groupings -%}
                    {%- if not loop.first -%}
                        {{ ',' }}
                    {%- endif -%}
                    {%- with data_grouping_level = data_groupings[attribute] -%}
                        {%- if data_grouping_level.source == 'tag' -%}
                            {{ eol()  }}{{ '                ' }}{{ make_text_constant(data_grouping_level.tag) }}
                        {%- elif data_grouping_level.source == 'column_value' -%}
                            {{ eol() }}{{ '                ' }}{{ render_column(data_grouping_level.column, 'analyzed_table') }}
                        {%- endif -%}
                    {%- endwith %}
                {%- endfor %}
            ORDER BY
                {% if (error_sampling.id_columns is not none and (error_sampling.id_columns | length()) > 0) -%}
                    {%- for id_column in error_sampling.id_columns -%}
                        {{- render_column(id_column, 'analyzed_table') }} ASC,{{ ' ' }}
                    {%- endfor %}
                {%- endif -%}
                {{ render_target_column('analyzed_table') }} ASC
        ) AS sample_index
    FROM
        {{ render_target_table() }} AS analyzed_table
    {% if parameters.foreign_table is not none and (parameters.foreign_table | length() > 0) -%}
    LEFT OUTER JOIN {{ render_referenced_table(parameters.foreign_table) }} AS foreign_table
    ON {{ render_target_column('analyzed_table')}} = foreign_table.{{ quote_identifier(parameters.foreign_column) }}
    {% endif %}
        {{- render_where_clause(extra_filter = (render_target_column('analyzed_table') ~ ' IS NOT NULL AND ' if render_null_check) ~
             wrap_condition ~ ' (' ~ caller() ~ ')', table_alias_prefix = 'analyzed_table', indentation = '    ') }}
)
SELECT
    sample_table.sample_value AS actual_value,
    sample_table.sample_index AS sample_index
    {%- for attribute in data_groupings -%}
        {{ ',' }}
    sample_table.grouping_{{ attribute }} AS grouping_{{ attribute }}
    {%- endfor -%}
    {%- if (error_sampling.id_columns is not none and (error_sampling.id_columns | length()) > 0) -%}
        {%- for id_column in error_sampling.id_columns -%}
            {{ ',' }}
    sample_table.row_id_{{ loop.index }} AS row_id_{{ loop.index }}
        {%- endfor -%}
    {%- endif %}
FROM error_samples AS sample_table
WHERE sample_table.sample_index <= {{ override_samples_limit if override_samples_limit is not none else error_sampling.samples_limit }}
LIMIT {{ error_sampling.total_samples_limit }}
    {%- else -%}
SELECT
    {{ render_target_column('analyzed_table') }} as actual_value
    {%- if (error_sampling.id_columns is not none and (error_sampling.id_columns | length()) > 0) -%}
        {%- for id_column in error_sampling.id_columns -%}
            {{ ',' }}
    {{ render_column(id_column) }} AS row_id_{{ loop.index }}
        {%- endfor -%}
    {%- endif %}
FROM
    {{ render_target_table() }} AS analyzed_table
{% if parameters.foreign_table is not none and (parameters.foreign_table | length() > 0) -%}
LEFT OUTER JOIN {{ render_referenced_table(parameters.foreign_table) }} AS foreign_table
ON {{ render_target_column('analyzed_table')}} = foreign_table.{{ quote_identifier(parameters.foreign_column) }}
{% endif %}
    {{- render_where_clause((render_target_column('analyzed_table') ~ ' IS NOT NULL AND ' if render_null_check) ~ wrap_condition ~ ' (' ~ caller() ~ ')') }}
LIMIT {{ override_samples_limit if override_samples_limit is not none else error_sampling.samples_limit }}
    {%- endif -%}
{%- endmacro %}
