{% import '/dialects/spark.sql.jinja2' as lib with context -%}
{%- call lib.render_error_sampler(wrap_condition = 'NOT') -%}
    ({{ parameters.sql_condition | replace('{column}', lib.render_target_column('analyzed_table')) |
            replace('{table}', lib.render_target_table()) | replace('{alias}', 'analyzed_table') }})
{%- endcall -%}