---
swagger: "2.0"
info:
  description: "DQO.AI cloud API"
  version: "v1"
  title: "DQO.AICloud"
  termsOfService: "https://dqo.ai/terms-of-service"
  contact:
    name: "DQO Cloud Support"
    url: "https://dqo.ai"
    email: "support@dqo.ai"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "api.dqo.ai"
basePath: "/"
tags:
- name: "AccessTokenIssue"
- name: "ApiKeyRequest"
- name: "LookerStudioKeyRequest"
schemes:
- "https"
paths:
  /api/v1/accesstokenissue/ro/query:
    get:
      tags:
      - "AccessTokenIssue"
      summary: "IssueTenantDataROQueryAccessKey"
      description: ""
      operationId: "issueTenantDataROQueryAccessKey"
      parameters: []
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/TenantQueryAccessTokenModel"
      security:
      - api_key: []
  /api/v1/accesstokenissue/rw/alerts:
    get:
      tags:
      - "AccessTokenIssue"
      summary: "IssueBucketAlertsRWAccessKey"
      description: ""
      operationId: "issueBucketAlertsRWAccessKey"
      parameters: []
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/TenantAccessTokenModel"
      security:
      - api_key: []
      deprecated: true
  /api/v1/accesstokenissue/rw/readings:
    get:
      tags:
      - "AccessTokenIssue"
      summary: "IssueBucketReadingRWAccessKey"
      description: ""
      operationId: "issueBucketReadingRWAccessKey"
      parameters: []
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/TenantAccessTokenModel"
      security:
      - api_key: []
      deprecated: true
  /api/v1/accesstokenissue/rw/rule_results:
    get:
      tags:
      - "AccessTokenIssue"
      summary: "IssueBucketRuleResultsRWAccessKey"
      description: ""
      operationId: "issueBucketRuleResultsRWAccessKey"
      parameters: []
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/TenantAccessTokenModel"
      security:
      - api_key: []
  /api/v1/accesstokenissue/rw/rules:
    get:
      tags:
      - "AccessTokenIssue"
      summary: "IssueBucketRulesRWAccessKey"
      description: ""
      operationId: "issueBucketRulesRWAccessKey"
      parameters: []
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/TenantAccessTokenModel"
      security:
      - api_key: []
  /api/v1/accesstokenissue/rw/sensor_readouts:
    get:
      tags:
      - "AccessTokenIssue"
      summary: "IssueBucketSensorReadoutsRWAccessKey"
      description: ""
      operationId: "issueBucketSensorReadoutsRWAccessKey"
      parameters: []
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/TenantAccessTokenModel"
      security:
      - api_key: []
  /api/v1/accesstokenissue/rw/sensors:
    get:
      tags:
      - "AccessTokenIssue"
      summary: "IssueBucketSensorsRWAccessKey"
      description: ""
      operationId: "issueBucketSensorsRWAccessKey"
      parameters: []
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/TenantAccessTokenModel"
      security:
      - api_key: []
  /api/v1/accesstokenissue/rw/sources:
    get:
      tags:
      - "AccessTokenIssue"
      summary: "IssueBucketSourcesRWAccessKey"
      description: ""
      operationId: "issueBucketSourcesRWAccessKey"
      parameters: []
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/TenantAccessTokenModel"
      security:
      - api_key: []
  /api/v1/apikey/issued/{apiKeyRequest}:
    put:
      tags:
      - "ApiKeyRequest"
      summary: "IssueApiKey"
      description: ""
      operationId: "issueApiKey"
      produces:
      - "text/plain"
      parameters:
      - name: "apiKeyRequest"
        in: "path"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "string"
      security:
      - api_key: []
      - firebase_auth: []
  /api/v1/apikey/request:
    post:
      tags:
      - "ApiKeyRequest"
      summary: "RequestApiKey"
      description: ""
      operationId: "requestApiKey"
      produces:
      - "text/plain"
      parameters:
      - name: "challenge"
        in: "query"
        required: false
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "string"
  /api/v1/apikey/request/{apiKeyRequest}:
    get:
      tags:
      - "ApiKeyRequest"
      summary: "PickApiKey"
      description: ""
      operationId: "pickApiKey"
      produces:
      - "text/plain"
      parameters:
      - name: "apiKeyRequest"
        in: "path"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "string"
  /api/v1/apikey/request/{version}:
    post:
      tags:
      - "ApiKeyRequest"
      summary: "RequestApiKeyVersion"
      description: ""
      operationId: "requestApiKeyVersion"
      produces:
      - "text/plain"
      parameters:
      - name: "challenge"
        in: "query"
        required: false
        type: "string"
      - name: "version"
        in: "path"
        required: true
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "string"
  /api/v1/lookerstudiokey/issue:
    get:
      tags:
      - "LookerStudioKeyRequest"
      summary: "issueLookerStudioApiKey"
      description: "Issues an API key for accessing DQO data quality dashboards from\
        \ Looker Studio"
      operationId: "issueLookerStudioApiKey"
      produces:
      - "text/plain"
      parameters: []
      responses:
        200:
          description: "successful operation"
          schema:
            type: "string"
      security:
      - api_key: []
securityDefinitions:
  api_key:
    type: "apiKey"
    name: "APIKey"
    in: "header"
  basic:
    type: "basic"
  firebase_auth:
    type: "oauth2"
    authorizationUrl: ""
    flow: "implicit"
definitions:
  TenantAccessTokenModel:
    type: "object"
    properties:
      accessToken:
        type: "string"
      tenantId:
        type: "string"
      bucketName:
        type: "string"
      bucketPathPrefix:
        type: "string"
      expiresAt:
        type: "string"
      billingProjectId:
        type: "string"
  TenantQueryAccessTokenModel:
    type: "object"
    properties:
      accessToken:
        type: "string"
      tenantId:
        type: "string"
      expiresAt:
        type: "string"
      billingProjectId:
        type: "string"
      sensorReadoutsTableName:
        type: "string"
      ruleResultsTableName:
        type: "string"
