---
swagger: "2.0"
info:
  description: "DQO Cloud API"
  version: "v1"
  title: "DQO Cloud"
  termsOfService: "https://dqo.ai/terms-of-service"
  contact:
    name: "DQO Cloud Support"
    url: "https://dqo.ai"
    email: "support@dqo.ai"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "api.dqo.ai"
basePath: "/"
tags:
- name: "AccessTokenIssue"
- name: "ApiKeyRequest"
- name: "LookerStudioKeyRequest"
schemes:
- "https"
paths:
  /api/v1/accesstokenissue/ro/query:
    get:
      tags:
      - "AccessTokenIssue"
      summary: "issueTenantDataROQueryAccessToken"
      description: "Issues a read-only Google access token used by the DQO Looker\
        \ Studio Community Connector to query the tenant's data quality data warehouse."
      operationId: "issueTenantDataROQueryAccessToken"
      parameters: []
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/TenantQueryAccessTokenModel"
      security:
      - api_key: []
  /api/v1/accesstokenissue/rw/errors:
    get:
      tags:
      - "AccessTokenIssue"
      summary: "issueBucketErrorsRWAccessToken"
      description: "Issues a Google Storage access token for accessing the tenant's\
        \ folder with errors"
      operationId: "issueBucketErrorsRWAccessToken"
      parameters: []
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/TenantAccessTokenModel"
      security:
      - api_key: []
  /api/v1/accesstokenissue/rw/rule_results:
    get:
      tags:
      - "AccessTokenIssue"
      summary: "issueBucketRuleResultsRWAccessToken"
      description: "Issues a Google Storage access token for accessing the tenant's\
        \ folder with rule results"
      operationId: "issueBucketRuleResultsRWAccessToken"
      parameters: []
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/TenantAccessTokenModel"
      security:
      - api_key: []
  /api/v1/accesstokenissue/rw/rules:
    get:
      tags:
      - "AccessTokenIssue"
      summary: "issueBucketRulesRWAccessToken"
      description: "Issues a Google Storage access token for accessing the tenant's\
        \ folder with custom rule definitions"
      operationId: "issueBucketRulesRWAccessToken"
      parameters: []
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/TenantAccessTokenModel"
      security:
      - api_key: []
  /api/v1/accesstokenissue/rw/sensor_readouts:
    get:
      tags:
      - "AccessTokenIssue"
      summary: "issueBucketSensorReadoutsRWAccessToken"
      description: "Issues a Google Storage access token for accessing the tenant's\
        \ folder with sensor readouts"
      operationId: "issueBucketSensorReadoutsRWAccessToken"
      parameters: []
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/TenantAccessTokenModel"
      security:
      - api_key: []
  /api/v1/accesstokenissue/rw/sensors:
    get:
      tags:
      - "AccessTokenIssue"
      summary: "issueBucketSensorsRWAccessToken"
      description: "Issues a Google Storage access token for accessing the tenant's\
        \ folder with custom sensor definitions"
      operationId: "issueBucketSensorsRWAccessToken"
      parameters: []
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/TenantAccessTokenModel"
      security:
      - api_key: []
  /api/v1/accesstokenissue/rw/sources:
    get:
      tags:
      - "AccessTokenIssue"
      summary: "issueBucketSourcesRWAccessToken"
      description: "Issues a Google Storage access token for accessing the tenant's\
        \ folder with sources and the data quality check configuration"
      operationId: "issueBucketSourcesRWAccessToken"
      parameters: []
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/TenantAccessTokenModel"
      security:
      - api_key: []
  /api/v1/accesstokenissue/rw/statistics:
    get:
      tags:
      - "AccessTokenIssue"
      summary: "issueBucketStatisticsRWAccessToken"
      description: "Issues a Google Storage access token for accessing the tenant's\
        \ folder with statistics"
      operationId: "issueBucketStatisticsRWAccessToken"
      parameters: []
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/TenantAccessTokenModel"
      security:
      - api_key: []
  /api/v1/apikey/issued/{apiKeyRequest}:
    put:
      tags:
      - "ApiKeyRequest"
      summary: "issueApiKey"
      description: "Issues an API Key by the DQO Cloud UI, this operation can also\
        \ generate a new fresh API key."
      operationId: "issueApiKey"
      produces:
      - "text/plain"
      parameters:
      - name: "apiKeyRequest"
        in: "path"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "string"
      security:
      - api_key: []
      - firebase_auth: []
  /api/v1/apikey/request:
    post:
      tags:
      - "ApiKeyRequest"
      summary: "requestApiKey"
      description: "Initiates an API Key generation request, generating the most recent\
        \ API Key version."
      operationId: "requestApiKey"
      produces:
      - "text/plain"
      parameters:
      - name: "challenge"
        in: "query"
        required: false
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "string"
  /api/v1/apikey/request/{apiKeyRequest}:
    get:
      tags:
      - "ApiKeyRequest"
      summary: "pickApiKey"
      description: "Retrieves a previously generated API Key given an API Key generation\
        \ request."
      operationId: "pickApiKey"
      produces:
      - "text/plain"
      parameters:
      - name: "apiKeyRequest"
        in: "path"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "string"
  /api/v1/apikey/request/{version}:
    post:
      tags:
      - "ApiKeyRequest"
      summary: "requestApiKeyVersion"
      description: "Initiates an API KEY generation process, asking for a specific\
        \ version of the API key."
      operationId: "requestApiKeyVersion"
      produces:
      - "text/plain"
      parameters:
      - name: "challenge"
        in: "query"
        required: false
        type: "string"
      - name: "version"
        in: "path"
        required: true
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "string"
  /api/v1/lookerstudiokey/issue:
    get:
      tags:
      - "LookerStudioKeyRequest"
      summary: "issueLookerStudioApiKey"
      description: "Issues an API key for accessing DQO data quality dashboards from\
        \ Looker Studio"
      operationId: "issueLookerStudioApiKey"
      produces:
      - "text/plain"
      parameters: []
      responses:
        200:
          description: "successful operation"
          schema:
            type: "string"
      security:
      - api_key: []
securityDefinitions:
  api_key:
    type: "apiKey"
    name: "APIKey"
    in: "header"
  basic:
    type: "basic"
  firebase_auth:
    type: "oauth2"
    authorizationUrl: ""
    flow: "implicit"
definitions:
  TenantAccessTokenModel:
    type: "object"
    properties:
      accessToken:
        type: "string"
      tenantId:
        type: "string"
      bucketName:
        type: "string"
      bucketPathPrefix:
        type: "string"
      expiresAt:
        type: "string"
      billingProjectId:
        type: "string"
    description: "Model returned by the DQO Cloud with an AccessToken for accessing\
      \ a folder within the landing zone of the tenant's data quality data warehouse."
  TenantQueryAccessTokenModel:
    type: "object"
    properties:
      accessToken:
        type: "string"
      tenantId:
        type: "string"
      expiresAt:
        type: "string"
      billingProjectId:
        type: "string"
      sensorReadoutsTableName:
        type: "string"
      ruleResultsTableName:
        type: "string"
    description: "Model that returns an AccessToken used by Looker Studio to query\
      \ the data warehouse."
