{% import '/dialects/bigquery.sql.jinja2' as lib with context -%}
{%- call lib.render_error_sampler() -%}
    LOWER({{ render_column_cast_to_string('analyzed_table')}}) IN ('null', 'undefined', 'missing', 'nan', 'none', 'na', 'n/a', 'empty', '#n/d', 'blank', '""', '\'\'', '-', '')
{%- endcall -%}