{% import '/dialects/mysql.sql.jinja2' as lib with context -%}

SELECT
(SELECT DISTINCT first_value(t.`value`) OVER (
  ORDER BY CASE WHEN p <= {{ parameters.percentile_value }} THEN p END DESC
) as x
FROM(
  SELECT
    {{ lib.render_target_column('analyzed_table')}},
    percent_rank() OVER (ORDER BY {{ lib.render_target_column('analyzed_table')}}) as p
  FROM {{ lib.render_target_table() }} AS analyzed_table
) as t) AS actual_value
{{- lib.render_data_stream_projections('analyzed_table') }}
{{- lib.render_time_dimension_projection('analyzed_table') }}
FROM {{ lib.render_target_table() }} AS analyzed_table
{{- lib.render_where_clause() -}}
{{- lib.render_group_by() -}}
{{- lib.render_order_by() -}}


