{% import '/dialects/hana.sql.jinja2' as lib with context -%}
{%- call lib.render_error_sampler() -%}
    {{ lib.render_target_column('analyzed_table') }} LIKE_REGEXPR {{lib.render_date_format(parameters.date_format)}}
{%- endcall -%}