{% import '/dialects/hana.sql.jinja2' as lib with context -%}
{%- call lib.render_error_sampler(wrap_condition = 'NOT') -%}
    {{lib.render_column_cast_to_string('analyzed_table')}} IS NOT NULL
        OR {{lib.render_column_cast_to_string('analyzed_table')}} LIKE_REGEXPR '%d/%m/%Y'
        OR {{lib.render_column_cast_to_string('analyzed_table')}} LIKE_REGEXPR '%d-%m-%Y'
        OR {{lib.render_column_cast_to_string('analyzed_table')}} LIKE_REGEXPR '%m-%d-%Y'
        OR {{lib.render_column_cast_to_string('analyzed_table')}} LIKE_REGEXPR '%d/%m/%Y'
        OR {{lib.render_column_cast_to_string('analyzed_table')}} LIKE_REGEXPR '%m/%d/%Y'
        OR {{lib.render_column_cast_to_string('analyzed_table')}} LIKE_REGEXPR '%Y/%m/%d'
        OR {{lib.render_column_cast_to_string('analyzed_table')}} LIKE_REGEXPR '%b %e, %Y'
{%- endcall -%}