{% import '/dialects/presto.sql.jinja2' as lib with context -%}

{% macro render_current_event_diff() -%}
    {%- if lib.is_instant(table.columns[table.timestamp_columns.event_timestamp_column].type_snapshot.column_type) == 'true' -%}
    (CAST(CURRENT_TIMESTAMP AS bigint) - MAX(CAST({{ lib.render_column(table.timestamp_columns.event_timestamp_column, 'analyzed_table') }} AS bigint))) / 24.0 / 3600.0
    {%- elif lib.is_local_date(table.columns[table.timestamp_columns.event_timestamp_column].type_snapshot.column_type) == 'true' -%}
    CAST(CURRENT_DATE AS bigint) - MAX(CAST({{ lib.render_column(table.timestamp_columns.event_timestamp_column, 'analyzed_table') }} AS bigint))
    {%- elif lib.is_local_date_time(table.columns[table.timestamp_columns.event_timestamp_column].type_snapshot.column_type) == 'true' -%}
    (CAST(CURRENT_TIMESTAMP AS bigint) - MAX(CAST({{ lib.render_column(table.timestamp_columns.event_timestamp_column, 'analyzed_table') }} AS bigint))) / 24.0 / 3600.0
    {%- else -%}
    (CAST(CURRENT_TIMESTAMP AS bigint) - MAX(CAST({{ lib.render_column(table.timestamp_columns.event_timestamp_column, 'analyzed_table') }} AS bigint))) / 24.0 / 3600.0
    {%- endif -%}
{%- endmacro -%}

SELECT
    {{ render_current_event_diff() }} AS actual_value,
    CAST(CURRENT_DATE AS date) AS time_period,
    CAST(CURRENT_TIMESTAMP AS TIMESTAMP) AS time_period_utc
FROM {{ lib.render_target_table() }} AS analyzed_table
{{- lib.render_where_clause() -}}
GROUP BY time_period, time_period_utc
ORDER BY time_period, time_period_utc;