.md-grid {
  width: 95%;
  max-width: 95%;
}
.md-typeset :not(h1):not(h2) {
  font-size: 16px;
}
.md-typeset h1{
  font-size: 1.7em;
}
.md-typeset h2{
  font-size: 1.4em;
}
.md-nav {
  font-size: 16px;
}
.md-sidebar__scrollwrap{
  white-space: normal; 
}
.md-nav__item {
  padding-left: 0.6rem;
  padding-right: 0.2rem;
}

.four-divs-row {
  display: flex;
  flex-wrap: wrap;
}

.four-divs-element {
  flex: 1 0 21%; /* it will put max 4 elements (+ space for all margins) in a row */
  margin: 5px;
  height: 140px;
}

.image-center {
    margin-left: auto;
    margin-right: auto;
}
