.md-grid {
  width: 98%;
  max-width: 98%;
}
.md-typeset {
  font-size: 16px;
}
.md-typeset h1{
  font-size: 1.7em;
}
.md-typeset h2{
  font-size: 1.4em;
}
.md-typeset h3{
  font-size: 1.2em;
}

.md-sidebar {
  width: 13.1rem;
}

@supports selector(::-webkit-scrollbar) {
    [dir=ltr] .md-sidebar__inner {
        padding-right: calc(100% - 12.5rem)
    }

    [dir=rtl] .md-sidebar__inner {
        padding-left: calc(100% - 12.5rem)
    }
}

@media screen and (max-width: 76.234375em) {
  [dir=ltr] .md-sidebar--primary {
      left: -13.1rem;
  }
}

.md-sidebar__scrollwrap{
  white-space: normal; 
}
.md-nav__item {
  padding-left: 0.2rem;
  padding-right: 0.1rem;
}
.four-divs-row {
  display: flex;
  flex-wrap: wrap;
}

.four-divs-element {
  flex: 1 0 21%; /* it will put max 4 elements (+ space for all margins) in a row (4 * 21% + margins) */
  margin: 5px;
  height: 150px;
  width: 100%;
  text-align: center;
}

.no-wrap-code {
  white-space: nowrap;
  word-break: normal;
}

p:has(span.center-content) {
  text-align: center;
}

.md-typeset .grid-columns-150-pct {
  grid-template-columns: repeat(auto-fit,minmax(min(100%,24rem),1fr));
}

.ebook-image-home {
  padding-top: 40px;
}
.md-banner__inner {
  margin: 0;
  padding: 0;
}
.md-grid {
  max-width: unset;
  width: unset;
}
.md-main__inner {
  margin-top: 0px;
}