{% import '/dialects/redshift.sql.jinja2' as lib with context -%}
{%- call lib.render_error_sampler() -%}
    ({{ lib.render_target_column('analyzed_table')}}) IS NOT NULL
                AND TRIM({{ lib.render_target_column('analyzed_table')}}) <> ''
                AND ({{ lib.render_target_column('analyzed_table')}}) <> TRIM({{ lib.render_target_column('analyzed_table')}})
{%- endcall -%}