{% import '/dialects/databricks.sql.jinja2' as lib with context -%}
{%- call lib.render_error_sampler() -%}
    {%- if lib.is_instant(table.columns[column_name].type_snapshot.column_type) == 'true' -%}
        {{ lib.render_target_column('analyzed_table') }} > CURRENT_TIMESTAMP()
    {%- elif lib.is_local_date(table.columns[column_name].type_snapshot.column_type) == 'true' -%}
        {{ lib.render_target_column('analyzed_table') }} > CURRENT_DATE()
    {%- elif lib.is_local_date_time(table.columns[column_name].type_snapshot.column_type) == 'true' -%}
        {{ lib.render_target_column('analyzed_table') }} > CURRENT_DATETIME()
    {%- else -%}
        CAST({{ lib.render_target_column('analyzed_table') }} AS TIMESTAMP) > CURRENT_TIMESTAMP()
    {%- endif -%}
{%- endcall -%}