{% import '/dialects/redshift.sql.jinja2' as lib with context -%}
{%- call lib.render_error_sampler() -%}
    {% if lib.is_instant(table.columns[column_name].type_snapshot.column_typ) == 'true' -%}
        {{ lib.render_target_column('analyzed_table') }} > CURRENT_TIMESTAMP + make_interval(secs => ({{(parameters.max_future_days)}} * 86400)::int)
    {% elif lib.is_local_date(table.columns[column_name].type_snapshot.column_type) == 'true' -%}
        {{ lib.render_target_column('analyzed_table') }} > CURRENT_DATE + make_interval(days => ({{(parameters.max_future_days)}})::int)
    {% elif lib.is_local_date_time(table.columns[column_name].type_snapshot.column_type) == 'true' -%}
        {{ lib.render_target_column('analyzed_table') }} > CURRENT_DATETIME + make_interval(secs => ({{(parameters.max_future_days)}} * 86400)::int)
    {% else -%}
        ({{ lib.render_target_column('analyzed_table') }})::TIMESTAMP > CURRENT_TIMESTAMP + make_interval(secs => ({{(parameters.max_future_days)}} * 86400)::int)
    {% endif -%}
{%- endcall -%}