{% import '/dialects/mysql.sql.jinja2' as lib with context -%}

{% macro render_date_format_cast() -%}
    {%- if lib.is_local_date(table.columns[column_name].type_snapshot.column_type) == 'true' -%}
    {{ lib.render_target_column('analyzed_table') }}
    {%- elif lib.is_local_time(table.columns[column_name].type_snapshot.column_type) == 'true' or lib.is_instant(table.columns[column_name].type_snapshot.column_type) == 'true' -%}
    CAST({{ lib.render_target_column('analyzed_table') }} AS DATE)
    {%- else -%}
    CAST({{ lib.render_target_column('analyzed_table') }} AS DATE)
    {%- endif -%}
{%- endmacro -%}

SELECT
    CASE
        WHEN COUNT({{ lib.render_target_column('analyzed_table') }}) = 0 THEN 0.0
        ELSE 100.0 * SUM(
            CASE
                WHEN {{ render_date_format_cast() }} >= {{ lib.make_text_constant(parameters.min_date) }} AND {{ render_date_format_cast() }} <= {{ lib.make_text_constant(parameters.max_date) }} THEN 1
            ELSE 0
            END
        ) / COUNT({{ lib.render_target_column('analyzed_table') }})
    END AS actual_value
    {{- lib.render_data_grouping_projections('analyzed_table') }}
    {{- lib.render_time_dimension_projection('analyzed_table') }}
FROM {{ lib.render_target_table() }} AS analyzed_table
{{- lib.render_where_clause() -}}
{{- lib.render_group_by() -}}
{{- lib.render_order_by() -}}