{% import '/dialects/databricks.sql.jinja2' as lib with context -%}
SELECT
    MAX(
        LENGTH({{ lib.render_target_column('analyzed_table') }})
    ) AS actual_value
    {{- lib.render_data_grouping_projections('analyzed_table') }}
    {{- lib.render_time_dimension_projection('analyzed_table') }}
FROM {{ lib.render_target_table() }} AS analyzed_table
{{- lib.render_where_clause() -}}
{{- lib.render_group_by() -}}
{{- lib.render_order_by() -}}