{% import '/dialects/databricks.sql.jinja2' as lib with context -%}
{%- call lib.render_error_sampler(wrap_condition = 'NOT') -%}
    {{ lib.render_target_column('analyzed_table') }} IS NOT NULL AND
                         REGEXP(CAST({{ lib.render_target_column('analyzed_table') }} AS STRING), {{lib.render_date_format_regex(parameters.date_format)}}) IS NOT FALSE
{%- endcall -%}