name: Build code with Maven for pull requests to develop

on:
  pull_request_target:
    repository: dqops/dqo
    branches:
      - develop
  push:
    repository: dqops/dqo
    branches:
      - develop

jobs:
  build-docker-develop:
    runs-on: ubuntu-latest
    steps:
#      - name: Free Disk Space (Ubuntu)
#        uses: jlumbroso/free-disk-space@main
#        with:
#          # this might remove tools that are actually needed,
#          # if set to "true" but frees about 6 GB
#          tool-cache: false
#
#          # all of these default to true, but feel free to set to
#          # "false" if necessary for your workflow
#          android: true
#          dotnet: true
#          haskell: true
#          large-packages: true
#          docker-images: false
#          swap-storage: true

      - uses: actions/checkout@v3

      - name: Configure Git options
        run: |
          git config pull.rebase false
          git config user.email "contact@dqops.com"
          git config user.name "DQOps"

      - name: Switch to the closed source edition
        run: git remote add closedsource https://${{ secrets.PAID_REPOSITORY_USER }}:${{ secrets.PAID_REPOSITORY_TOKEN }}@${{ secrets.PAID_REPOSITORY_HOST }}${{ secrets.PAID_REPOSITORY_PATH }}

      - name: Pull the closed source edition
        run: git pull -q closedsource closedsource --allow-unrelated-histories --strategy-option=theirs

      - name: Checkout the closed source edition
        run: git checkout closedsource

      - name: Add SHORT_SHA env property with commit short sha
        run: echo "SHORT_SHA=`echo ``git rev-parse --short=8 HEAD```" >> $GITHUB_ENV

      - name: Merge changes to the closed source edition
        run: git merge ${{ github.ref_name }}

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'maven'

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.14

      - name: Restore cached npm packages
        id: restore-cached-npm-packages
        uses: actions/cache/restore@v3
        with:
          path: |
            dqops/src/main/frontend/node
            dqops/src/main/frontend/node_modules
          key: 'npm'

      - name: Build with Maven
        run: mvn package -DskipTests -Pbuild-with-jdk-11 -Pdisable-duckdb-extensions-download -Pdevelopment-build -Prun-npm

      - name: Save cached npm packages
        id: save-cached-npm-packages
        uses: actions/cache/save@v3
        with:
          path: |
            dqops/src/main/frontend/node
            dqops/src/main/frontend/node_modules
          key: 'npm'

      - uses: docker/setup-qemu-action@v3

      - uses: docker/setup-buildx-action@v3

      - uses: mr-smithers-excellent/docker-build-push@v6
        name: Build and Push Docker Image
        with:
          image: dqops/dqo
          tags: ${SHORT_SHA},develop
          dockerfile: Dockerfile-fast
          enableBuildKit: true
          multiPlatform: true
          platform: linux/amd64,linux/arm64
          registry: docker.io
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - uses: juliangruber/read-file-action@v1
        name: Read VERSION
        id: read_version
        with:
          path: ./VERSION
          
      - uses: 'google-github-actions/auth@v2'
        with:
          credentials_json: ${{ secrets.RELEASES_SERVICE_ACCOUNT_JSON }}

      - id: 'upload-jars'
        uses: 'google-github-actions/upload-cloud-storage@v2'
        with:
          path: './lib/target/output/dqo-lib-${{steps.read_version.outputs.content}}'
          destination: '${{ secrets.DQOPS_LICENSED_JARS_BUCKET }}/${{ steps.read_version.outputs.content }}'
          gzip: false
          process_gcloudignore: false
          headers: |-
            content-type: application/java-archive
